.RegisterTitle{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  min-width: 300px;
}
input {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 0.75rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(214, 214, 222);
}