.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #cfdef4;
}

.login-card {
  background: #12315d;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color:white;
}

.login-form .form-group {
  margin-bottom: 1.2rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: white;
}

.login-form input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  transition: border 0.2s;
}

.login-form input:focus {
  border-color: #52a9d8;
}

.btn-login {
  width: 100%;
  padding: 0.8rem;
  background: #226e98;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
}

.btn-login:hover {
  background: #005f8a;
}

.register-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.register-link span {
  color: #0073b1;
  cursor: pointer;
  font-weight: 500;
}
